.wrapper-container {
  min-width: 100vh;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}


:host::ng-deep {
  p-password {
    div  {
      position: relative;
      width: 100%;
      display: inline-block !important;

      input {
        width: 100%;
      }

      i {
        position: absolute;
        top: 25px;
        margin-top: -0.5rem;
      }

      i:last-of-type {
        right: 0.75rem;
        color: #6c757d;
      }
    }
  }
}
